$fsize: 14;
$textCl: #172b4d;
$titleCl: #091e42;
$borderCl: #d0d4db;
$boxWidth: 384px;
$headerH: 78px;

@mixin display-flex() {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}

@mixin transform ($trans) {
    transform: $trans;
    -moz-transform: $trans;
    -webkit-transform: $trans;
    -o-transform: $trans;
    -ms-transform: $trans;
}

@mixin transi ($transi) {
    transition: $transi;
    -moz-transition: $transi;
    -webkit-transition: $transi;
    -o-transition: $transi;
    -ms-transition: $transi;
}

@mixin shadow ($shadow) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
}

@mixin flex-col-percent($percent) {
    -ms-flex: 0 0 $percent;
    flex: 0 0 $percent;
    max-width: $percent;
}

